{% extends "base.twig" %}

{% block body %}
    <h1>Список категорий</h1>
    <div>
        <a href="{{ url_for('home') }}">На главную</a>
    </div>
    <div>
        <a href="{{ url_for('adverts.index') }}">К объявлениям</a>
    </div>
    <div>
        <a href="{{ url_for('categories.new') }}">Создать категорию</a>
    </div>
    <ul>
        {% for category in categories %}
            <li><a href="{{ url_for('categories.show', { 'id': category.getId() }) }}">{{ category.getTitle() }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}