{% extends "base.twig" %}

{% block body %}
<div class="wrapper">
    <h1>Список объявлений</h1>

 {% if editable %}
 <form action="/adverts/search" method="get">
      <div class="searchbar">
        <input
          list="infolist"
          type="text"
          name="searchtag"
          placeholder="Search"
          required
        />
        <datalist id="infolist" class="list">

          {% for advert in adverts %}
            <option value="{{ advert.getTitle() }}">{{ advert.getTitle() }} - Title</option>    
          {% endfor %}
          
          {% for category in categories %}
            <option value="{{ category.ctry_name }}">{{ category.ctry_name }} - Category</option>
        {% endfor %}
        </datalist>
      </div>
      <button type="submit" class="button1">Search</button>
    </form>
    {% endif %}

    <table id="adverts">
    <tr>
        <th>ID</th>
        <th>Заголовок</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Категория</th>
        {% if editable %}
        <th>Действие</th>
        {% endif %}
    </tr>

    {% for advert in adverts %}
    <tr>
        <td>{{ advert.getID() }}</td>
        <td>{{ advert.getTitle() }}</td>
        <td>{{ advert.getDescription() }}</td>
        <td>{{ advert.getPrice() }}</td>
        <td>{{ advert.getCategory() }}</td>
        {% if editable %}
        <td>
            <a href="adverts/{{ advert.getID() }}". class="mr-3" title="View Record" data-toggle="tooltip"><span class="fa fa-eye"></span></a>
            <a href="adverts/{{ advert.getID() }}/edit" class="mr-3" title="Update Record" data-toggle="tooltip"><span class="fa fa-pencil"></span></a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
    </br>
    <div>
        <form action="/adverts/new/form" method="get" id="form1">
            <input type="submit" value="new advert form" />
        </form>

        
    </div>

</div>
{% endblock %}